/*GENERAL*/
body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 35px;
    margin-bottom: 40px;
}

h2 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content {
    margin-top: 40px;
}

.row {
    width: 100%;
}


/*TOP ROW*/
.info {
    padding-right: 60px;
    padding-left: 0px;
    text-align: justify;
    font-size: 15px;
    height: 100%;

}

.photo {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#selectSpecies {
    padding-left: 15px;
    text-align: left;
}

.speciesName {
    text-align: center;
    font-size: 30px;
}

.infoselect {
    vertical-align: middle;
    margin-bottom: 20px;
}

.counter {
    text-align: center;
    font-size: 50px;
}

.reset {
    text-align: right;
    color: #f5f5f5;
}


/*CHARTS & MAP*/
#map {
    height: 500px !important;
}

#sightings_per_state {
    margin-top: 55px;
}


#map {
    margin-top: 50px;
}

.sightings {
    margin-bottom: 50px;
}


.subtext {
    text-align: center;
}

/*FOOTER*/
footer {
    color: #3a3a3c;
    background-color: #fafafa;
}

.ala {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.contact p {
    font-size: 30px;
    text-align: center;
}

.contact a i {
    font-size: 100px;
    color: #3a3a3c;
    text-align: center;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: 0.5s ease-in-out;
}

.contact a i:hover {
    transform: scale(1.3);
}

.copyright {
    margin-top: 20px;

    text-align: center;
    border-top: 5px solid #3a3a3c;
}

.dismiss {
    border: none;
    color: #fff;
    background-color: transparent;
}

/*SCREENS SMALLER THAN 992px */

@media only screen and (max-width: 992px) {
    /*GENERAL*/
     .row {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    
    .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .content {
        width: 100vw;
        text-align: center;
    }
    /*TOP ROW*/
    #selectSpecies {
        color: #ebebeb;
        padding: 0px 0px 0px 0px;
    }

    select {
        font-size: 15px;
        border: none;
    }

    .counter {
        font-size: 35px;
    }

    .speciesName {
        text-align: center;
        font-size: 20px;
    }

    .info {
        padding-bottom: 5vw;
        padding-right: 0px;
        padding-left: 0px;
    }

    .img-container {
        padding-top: 30px;
    }

    /*CHARTS & MAP*/
    div.dc-chart {
        float: none;
    }

    #map {
        height: 400px !important;
    }

    /*FOOTER*/
    .ala {
        height: 125px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        vertical-align: middle;
    }


    .contact p {
        font-size: 20px;
        text-align: center;
    }

    .question {
        display: none;
    }

    .contact a i {
        font-size: 50px;
        color: #3a3a3c;
        text-align: center;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: 0.5s ease-in-out;
    }
}
